@model Kota_Palace_Admin.Controllers.ApplicationViewModel

@{
    ViewData["Title"] = "Apply";
   
}

<section>


<div class="card">
    <div class="card-header bg-primary text-white">
        APPLICATION
    </div>
    <form asp-action="Apply" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="card">
                <div class="card-header bg-gradient">
                    TRADING INFORMATION
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Business.Name" class="control-label"></label>
                                <input asp-for="Business.Name" required class="form-control" />
                                <span asp-validation-for="Business.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Business.Description" class="control-label"></label>
                                <input asp-for="Business.Description" required class="form-control" />
                                <span asp-validation-for="Business.Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Business.PhoneNumber" class="control-label"></label>
                                <input asp-for="Business.PhoneNumber" required class="form-control" />
                                <span asp-validation-for="Business.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-gradient">
                    PERSONAL INFORMATION
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AppUsers.Firstname" class="control-label"></label>
                                <input asp-for="AppUsers.Firstname" class="form-control" />
                                <span asp-validation-for="AppUsers.Firstname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AppUsers.Lastname" class="control-label"></label>
                                <input asp-for="AppUsers.Lastname" class="form-control" />
                                <span asp-validation-for="AppUsers.Lastname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AppUsers.PhoneNumber" class="control-label"></label>
                                <input asp-for="AppUsers.PhoneNumber" class="form-control" />
                                <span asp-validation-for="AppUsers.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AppUsers.Email" class="control-label"></label>
                                <input asp-for="AppUsers.Email" class="form-control" />
                                <span asp-validation-for="AppUsers.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AppUsers.Password" class="control-label"></label>
                                <input asp-for="AppUsers.Password" class="form-control" />
                                <span asp-validation-for="AppUsers.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
