@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align:center">
    <h2 class="alert-heading">
        THANK YOU FOR REGISTERING. <br />
        AN EMAIL WILL BE SENT TO YOU ONCE YOUR APPLICATION IS APPROVED, PLEASE BE PATIENT WHILE WE PROCESS YOUR APPLICATION.

    </h2>
</div>