@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kota-Palace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kota_Palace_Admin.styles.css" asp-append-version="true" />

    <style>
        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
        }

        a {
            color: #0077cc;
        }

        .btn-primary {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
        }

    </style>


</head>
<body style="width:100vw;height:100vh" >
    <header>
        <nav b-amt9qciysm class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#606daf border-bottom box-shadow mb-3">
            <div b-amt9qciysm class="container-fluid">
                <a class="navbar-brand" href="/"></a>
                <button b-amt9qciysm class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-amt9qciysm class="navbar-toggler-icon"></span>
                </button>
                <div b-amt9qciysm class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if(!User.Identity.IsAuthenticated)
                    {
                        <ul b-amt9qciysm class="navbar-nav flex-grow-1">
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Application" asp-action="Apply">Apply</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul b-amt9qciysm class="navbar-nav flex-grow-1">
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Hr" asp-action="Index">HR</a>
                            </li>
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Application" asp-action="Index">Application</a>
                            </li>
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Application" asp-action="ActiveBusiness">Active Businesses</a>
                            </li>
                            <li b-amt9qciysm class="nav-item">
                                <a class="nav-link text-dark" href="/swagger/index.html">API</a>
                            </li>
                        </ul>
                    }

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" title="Manage"> @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-action="Logout" asp-controller="Login" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Login">Login</a>
                            </li>
                        }
                       
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
